@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rancho&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.customSplash {
    height: 100vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.imgSplashCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customForm{
    width: 380px;
}

.grape{
    color: #7E98DF;
}
.bgGrape{
    background-color: #7E98DF !important;
}

.aDiv{
    color: #7E98DF;
    text-decoration: none;
    font-size: small;
}

.btnGrape{
    background-color: #7E98DF !important;
    color: white !important;
    width: 100%;
    height: 100%;
}

.btnGrape:hover{
    background-color: #a6baed !important;
    color: white !important;
}

.btnGrapeOutline{
    background-color: white !important;
    color: #7E98DF !important;
    width: 100%;
    height: 100%;
    border: 1px solid #7E98DF !important;
}

.btnGrapeOutline:hover{
    background-color: #a6baed !important;
    color: white !important;
}

.containerProfile{
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}
.m3{
    margin-top: -20px ;
}

.m2{
    margin-top: -10px ;
}
.m1{
    margin-top: -5px ;
}
.ml1{
    margin-left: -10px ;
}

.customColChat{
    height: 80vh;
    /* overflow-y: scroll; */
}

.customChatLeft{
    bottom: 20px;
}

.custSelectCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

.textChat{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 200px;

}

.bgGrapeChat{
    background-color: #7E98DF !important;
    width: 20%;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .bgGrapeChat{
        width: 50%;
    }
}

.bgGrapeChat2{
    background-color: #7E98DF !important;
    margin-top: -200px !important;
    width: 200px;
    z-index: 20;
}

@media screen and (max-width: 768px) {
    .displayHidden{
        display: none;
    }
}

.bgGrapeSetting{
    background-color: #7E98DF !important;
    z-index: 10;
}

.flexSide{
    flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
    .custImgChat{
        width: 75px;
        height: 75px;
        margin-top: 10px;
    }
}

.customCollapsePlus{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* .swiperChat{

} */
.swiperChat .swiper-slide {
    width: 100%;
}
.swiperChat .swiper-slide:nth-child(2n) {
    width: 60%;
}

/* .setWidth{

} */
.maxWidth{
    width: 90%;
}

.customNewAdd{
    border: dashed 2px #7E98DF;
    border-radius: 10px;
}

.customAdd{
    border: solid 1px red;
    border-radius: 10px;
    margin-top: 15px;
}